/* === Estilos personalizados para SweetAlert2 === */
.swal2-container {
  z-index: 100000 !important;
}

.swal2-popup .swal2-styled {
  all: initial;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.625em 1.5em;
  border: none;
  border-radius: 0.25em;
  background: #d63030;
  color: #fff;
  cursor: pointer;
  margin: 0 0.25em;
}

.swal2-confirm,
.swal2-cancel {
  font-family: "Abel", sans-serif;
  font-size: 16px;
  padding: 10px 24px !important;
  border-radius: 12px !important;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.swal2-confirm {
  /* background-color: #28a745 !important;  Verde para confirmar */
  background-color: #ce0303 !important;
  /* Vermelho para confirmar */
  color: #ffffff !important;
}

.swal2-confirm:hover {
  /* background-color: #218838 !important; */
  background-color: #6d0101 !important;
  /* Vermelho para confirmar */
}

.swal2-cancel {
  background-color: #6c757d !important;
  /* Cinza para cancelar */
  color: #ffffff !important;
}

.swal2-cancel:hover {
  background-color: #5a6268 !important;
}
.swal2-cancel.Contrato {
  background-color: #ce0303 !important; /* Azul exemplo */
  color: #fff !important;
}

.swal2-cancel.Contrato:hover {
  background-color: #6d0101 !important; /* Azul mais escuro no hover */
}