  
  /* Estiliza a largura do scrollbar */
  ::-webkit-scrollbar {
    width: 8px;
    height: 8px; /* Para o scrollbar horizontal */
  }
  
  /* Estiliza a parte que você pode arrastar (thumb) */
  ::-webkit-scrollbar-thumb {
    background-color: #5c5c5c;
    border-radius: 10px;
  }
  
  /* Estiliza a trilha do scrollbar (o fundo) */
  ::-webkit-scrollbar-track {
    background-color: #5c5c5c;
    border-radius: 5px;
  }
  
  /* Adiciona um efeito de hover para o thumb */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #ffffff;
  }


.lista-scroll::-webkit-scrollbar {
  width: 6px;
}
.lista-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.lista-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 6px;
}

.cards::-webkit-scrollbar {
  display: none;
}
.cards::-webkit-scrollbar-track {
  background: transparent;
}
.cards::-webkit-scrollbar-thumb {
display: none;
}