.modal-open main,
.modal-open header,
.modal-open #content,  /* qualquer container do seu conteúdo de fundo */
.modal-open #pagina {
  pointer-events: none;
  user-select: none;
}

/* Estilo para o fundo escuro (overlay) */
#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Cor preta com transparência */
  display: none; /* Inicialmente invisível */
  z-index: 999; /* Fica acima de outros elementos */
}

/* Estilo para o container do modal */
#modal-container {
  position: fixed;
  top: 50%; /* Alinha verticalmente ao centro */
  left: 50%; /* Alinha horizontalmente ao centro */
  transform: translate(-50%, -50%); /* Ajuste para o centro exato */
  background-color: rgba(255, 255, 255, 0.356);
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  width: 80%; /* Ajuste o tamanho conforme necessário */
  max-width: 700px; /* Largura máxima do modal */
  display: none; /* Inicialmente invisível */
  z-index: 1000; /* Fica acima do overlay */
}

/* Estilo opcional para o modal (você pode personalizar conforme necessário) */
.modal {
  position: fixed;
  top: 50%; /* Alinha verticalmente ao centro */
  left: 50%; /* Alinha horizontalmente ao centro */   
  transform: translate(-50%, -50%); /* Ajuste para o centro exato */
  background-color: #4d4d4d;
  padding: 5px;
  margin-top: 10px;
  width: 725px; /* Ajuste o tamanho conforme necessário */
  height: 580px;
  font-size: 16px;
  z-index: 9999;
}

.modal-content{
  height: 590px;
}

.modal-open{
  /* overflow: visible; Permite a rolagem do modal */
  overflow: hidden;
  pointer-events: none;
}

/* Quando o modal estiver visível */
.modal-open #modal-overlay, 
.modal-open #modal-container {
  display: block;
  pointer-events: auto; /* Torna visíveis o overlay e o modal */
}

body .modal-open {
  overflow: hidden;
  pointer-events: none; /* Impede a rolagem da página */
}

body{
  font-family: "Abel", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.title{
  font-family: "Abel", sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#form-content {
  font-family: "Abel", sans-serif;
  display: flex;                
  flex-direction: column; 
  justify-content: center;
  background-color: white;
  max-width: 700px;   
  width: 100%;  
  height: 490px; 
  margin: 0 auto;         
  padding: 10px;                
  background-color: #cacaca; 
  border: #ce0303;    
border-radius: 10px;      
  position: relative;
}

fieldset {
  display: flex;
  flex-direction: column;
  width: 650px;
  background-color: transparent;
  border-color: var(--dark-color);
  margin: 0 auto;
}
legend{
  margin-left: 20px;
  padding: 0 10px;
}

.form-2colunas{
  display: flex;
  gap: 0.5px; /* Espaço entre os inputs */
  max-width: 300; /* Garante que os elementos não ultrapassem o container */
  justify-content: center;
}

.form-3colunas{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 300;
  gap: 0,5px;
}

.form, .form2, .form3, .form-checkbox{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 12px;
  gap:5px;
}

.form input{
  font-family:  var(--Font-primary);
  width: 350px;
  height: 30px;
  border-radius: 6px;
  font-size: 13px;
  padding: 0 15px;
  border: 1px solid #000000;
  background: transparent;
  color: #000000;
  outline: none;
}

.form2 input{
  flex: 1;
  font-family: var(--Font-primary);
  width: 270px;
  height: 40px;
  border-radius: 6px;
  font-size: 13px;
  padding: 0 20px;
  border: 1px solid #000000;
  background: transparent;
  color: #000000;
  outline: none;
}

.form2 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* espaço entre os campos */
  align-items: center; /* aqui é o segredo do alinhamento */
}


.form2 select{
  /* box-sizing: border-box; */
  border-radius: 5px;
  flex: 1;
  font-family: var(--Font-primary);
  width: 270px;
  min-width: 270px;
  max-width: 270px;
  height: 43px; 
  /* line-height: 20px; */
  border-radius: 6px;
  font-size: 15px;
  padding: 0 8px;
  margin-top: -1px; 
  border: 1px solid #000000;
  background: transparent;
  color: #000000;
  outline: none;
}


.form3 input{
  flex: 1;
  font-family: var(--Font-primary);
  width: 270px;
  height: 30px;
  border-radius: 6px;
  font-size: 13px;
  padding: 0 20px;
  border: 1px solid #000000;
  background: transparent;
  color: #000000;
  outline: none;
}
.form label, .form-2colunas label, .form2 label{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
 
}
.form3 label{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
}

.uppercase {
  text-transform: uppercase;
}

input:focus{
  border: 2px solid #ce0303;
}
input:focus ~ label,
input:valid ~ label{
  top: 0;
  left: 25%;
  font-size: 15px;
  padding: 0 2px;
  background: #cacaca;
}

input[type=date]{
  width: 111px;
  height: 30px;
  font-size: 17px;
}

input[type=file]{
  display: none;
}

input#numero, input#estado, input#pais, input#complemento{
  width: 120px;
}

input#id{
  width: 70px;
}

input#tpcliente{
  width: 60px;
}

input.tpcliente {
  text-align: center;          /* Centraliza horizontalmente */
  vertical-align: middle;      /* Boa prática */
  font-size: 1.2rem;           /* Tamanho legal pro caractere */
  height: 2.5em;
  width: 2.5em;
  line-height: 2.5em;          /* Alinha verticalmente no input */
  padding: 0;
}
label#tpcliente{
  font-size: 9px;
}

#idCliente.has-value + label,
#idCliente:focus + label {
  top: 0;
  left: 25%;
  font-size: 15px;
  padding: 0 2px;
  background: #cacaca;
}


  table, th, td {
      border: 1px solid black;
      justify-content: center;
      text-align: center;
      white-space: nowrap;

      /* incluidos para teste */
      vertical-align: middle;
      font-size: 14px; /* se quiser uniformizar também a fonte */
  }

.tabela-funcoes {
  width: 100%;
  margin-top: 20px;
  border-collapse: separate;
  border-spacing: 0;
  font-family: 'Abel', sans-serif;
  font-size: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  border-radius: 8px;
  overflow: hidden;
}

.tabela-funcoes thead {
  background-color: #960000; /* Azul escuro */
  color: white;
}

.tabela-funcoes th {
  padding: 12px 16px;
  text-align: center;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.tabela-funcoes tbody tr:nth-child(even) {
  background-color: #f8f9fa;
}

.tabela-funcoes tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

.tabela-funcoes td {
  align-items: center;
  padding: 12px 16px;
  margin: 0 auto;
  color: #333;
  border-bottom: 1px solid #ddd;
}
 .Acao{
    display: flex;
    justify-content: center; /* horizontal */
    align-items: center; 
    width: 100%;    /* vertical */
    height: auto; 
  }

.tabela-funcoes tbody tr:hover {
  background-color: #e6f0ff;
  transition: background-color 0.2s ease-in-out;
}

.deleteBtn {
    width: 40px;
    height: 40px;
    min-width: 40px;
    border-radius: 50%;
    background-color: rgb(20, 20, 20);
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.164);
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
    position: relative;
  }
  
  .delete-svgIcon {
    width: 15px;
    transition-duration: 0.3s;
  }
  
  .delete-svgIcon path {
    fill: white;
  }
  
  .deleteBtn:hover {
    width: 90px;
    min-width: 40px; 
    height: 40px; 
    border-radius: 50px;
    transition-duration: 0.3s;
    background-color: rgb(255, 69, 69);
    align-items: center;
  }
  
  .deleteBtn:hover .delete-svgIcon {
    width: 20px;
    transition-duration: 0.3s;
    transform: translateY(60%);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  
  .deleteBtn::before {
    display: none;
    content: "Delete";
    color: white;
    transition-duration: 0.3s;
    font-size: 2px;
  }
  
  .deleteBtn:hover::before {
    display: block;
    padding-right: 10px;
    font-size: 13px;
    opacity: 1;
    transform: translateY(0px);
    transition-duration: 0.3s;
  }



button {
  font-family: "Abel", sans-serif;
  font-size: 20px;
  background-color: #9e0505;
  width: 25%;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;  
  transition: 5%;
}

button.Close {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 600px;
  height: 25px;
}

.save{
  display: flex;
  justify-content: center;
  align-items: center;
}

.Close{
  display: flex;
  justify-content: center;
  height: 25px;
}

.BTNs{
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-top: 10px;
}

.Enviar:hover,
.Limpar:hover,
.Pesquisar:hover{
  background-color: #5f0101;
}

.radio{
  display: flex;
  text-align: center;
  gap: 1px;
}

.hidden{
  display: none;
}
#endereço{
  display: none;
  margin-top: 10px;
}
#mensagemErro {
  color: red;
  font-size: 14px;
  display: none;
}

/* Estiliza a largura do scrollbar */
::-webkit-scrollbar {
  width: 5px;
  height: 12px; /* Para o scrollbar horizontal */
}

/* Estiliza a parte que você pode arrastar (thumb) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

/* Estiliza a trilha do scrollbar (o fundo) */
::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 5px;
}

/* Adiciona um efeito de hover para o thumb */
::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}


.sugestoes-nomes {
  list-style: none;
  margin: 0;
  padding: 0;
  background: white;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  z-index: 10;
  font-family: 'Abel', sans-serif;
}

.sugestoes-nomes li {
  padding: 8px 12px;
  cursor: pointer;
}

.sugestoes-nomes li:hover {
  background-color: #f0f0f0;
}

