
/* Estilo para o fundo escuro (overlay) */
#modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: rgba(0, 0, 0, 0.5); /* Cor preta com transparência */
  display: none; /* Inicialmente invisível */
  z-index: 999; /* Fica acima de outros elementos */
}

/* Estilo para o container do modal */
#modal-container {
  position: fixed;
  top: 50%; /* Alinha verticalmente ao centro */
  left: 50%; /* Alinha horizontalmente ao centro */
  transform: translate(-50%, -50%); /* Ajuste para o centro exato */
  background-color: rgba(255, 255, 255, 0.356);
  padding: 5px;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  width: 80%; /* Ajuste o tamanho conforme necessário */
  max-width: 700px; /* Largura máxima do modal */
  display: none; /* Inicialmente invisível */
  z-index: 1000; /* Fica acima do overlay */
}

/* Estilo opcional para o modal (você pode personalizar conforme necessário) */
.modal {
  position: fixed;
  top: 50%; /* Alinha verticalmente ao centro */
  left: 50%; /* Alinha horizontalmente ao centro */   
  transform: translate(-50%, -50%); /* Ajuste para o centro exato */
  background-color: #4d4d4d;
  padding: 5px;
  width: 725px; /* Ajuste o tamanho conforme necessário */
  height: 645px;
  font-size: 16px;
  z-index: 9999;
}

.modal-open{
  overflow: hidden;
  pointer-events: none;
}

/* Quando o modal estiver visível */
.modal-open #modal-overlay, 
.modal-open #modal-container {
  display: block;
  pointer-events: auto; /* Torna visíveis o overlay e o modal */
}

body .modal-open {
  overflow: hidden;
  pointer-events: none; /* Impede a rolagem da página */
}


body{
  font-family: "Abel", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.title{
  font-family: "Abel", sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 390px;
}

#form-cargo {
  font-family: "Abel", sans-serif;
  display: flex;                /* Define o modelo de layout Flexbox */
  flex-direction: column; 
  justify-content: center;
  background-color: rgb(0, 0, 0);
  max-width: 700px;   
  width: 100%;  
  height: 550px;          /* Largura do formulário */
  margin: 0 auto;            /* Centraliza o formulário na tela */
  padding: 10px;                /* Espaçamento interno */
  background-color: #cacaca; 
  border: #ce0303;     /* Fundo branco */
  border-bottom-right-radius: 8px;          /* Bordas arredondadas */
  border-bottom-left-radius: 8px;          /* Bordas arredondadas */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
  overflow-y: auto;
  overflow-x: none;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 2fr; /* ou ajuste conforme necessidade */
  gap: 20px;
  align-items: start;
}
.gridInput {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.container {
  height: auto;                  /* Remova altura fixa */
  width: 140px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;  /* Mantém conteúdo no topo */
  padding: 10px;
  gap: 6px;
  background-color: rgba(0, 110, 255, 0.041);
}

.header {
  flex: 1;
  width: 100%;
  border: 2px dashed rgb(225, 65, 65);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header svg {
  height: 100px;
}

.header p {
  text-align: center;
  color: black;
}

.footer {
  background-color: rgba(0, 110, 255, 0.075);
  width: 100%;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  border: none;
  box-sizing: border-box;
}


.footer svg {
  height:25px;
  fill: rgb(225, 65, 65);
  background-color: transparent;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  box-shadow: 0 2px 30px transparent;
}

.footer p {
  flex: 1;
  text-align: center;
  font-size: 10px;
}

#file {
display: none;
}

#previewFoto {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 8px;
  display: none;
  margin-bottom: 4px; /* reduz a margem */
  flex-shrink: 0;
}

.containerPDF {
  height: auto;                  /* Remova altura fixa */
  width: 250px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
  display: flex;
  align-items: center;
  justify-content: center;  /* Mantém conteúdo no topo */
  padding: 10px;
  gap: 6px;
  background-color: rgba(0, 110, 255, 0.041);
}

.headerPDF {
  flex: 1;
  width: 100%;
  border: 2px dashed rgb(225, 65, 65);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.headerPDF svg {
  height: 100px;
}

.headerPDF p {
  text-align: center;
  color: black;
}

.footerPDF {
  background-color: rgba(0, 110, 255, 0.075);
  width: 100%;
  padding: 6px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: black;
  border: none;
  box-sizing: border-box;
}


.footerPDF svg {
  height:25px;
  fill: rgb(225, 65, 65);
  background-color: transparent;
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  box-shadow: 0 2px 30px transparent;
}

.footerPDF p {
  flex: 1;
  text-align: center;
  font-size: 15px;
}

#filePDF {
display: none;
}

#previewFotoPDF {
  width: 100%;
  aspect-ratio: 3 / 4;
  object-fit: cover;
  border-radius: 8px;
  display: none;
  margin-bottom: 4px; /* reduz a margem */
  flex-shrink: 0;
}

.pdf{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

input[type="file"]{
  display: none;
}

  .tarja-avaliacao {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    padding: 10px;
    color: white;
    font-weight: bold;
    border-radius: 6px;
    display: none;
  }

  .muito-bom {
    background-color: #28a745; /* Verde */
  }

  .satisfatorio {
    background-color: #ffc107; /* Amarelo */
    color: black;
  }

  .regular {
    background-color: #dc3545; /* Vermelho */
  }

.form-2colunas {
  display: flex;
  gap: 0.5px;  /* Espaço entre os inputs */
  max-width: 300; /* Garante que os elementos não ultrapassem o container */
  justify-content: center;
}


.form,
.form2,
.form3,
.form-checkbox {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 12px;
  gap: 5px;
}

.form input {
  font-family: var(--Font-primary);
  width: 350px;
  height: 30px;
  border-radius: 6px;
  font-size: 12px;
  padding: 0 15px;
  border: 1px solid #000000;
  background: transparent;
  color: #000000;
  outline: none;
}

.form2 input {
  flex: 1;
  font-family: var(--Font-primary);
  width: 270px;
  height: 30px;
  border-radius: 6px;
  font-size: 12px;
  padding: 0 20px;
  border: 1px solid #000000;
  background: transparent;
  color: #000000;
  outline: none;
} 

.form2 select {
  flex: 1;
  font-family: var(--Font-primary);
  width: 270px;
  height: 30px;
  border-radius: 6px;
  font-size: 12px;
  padding: 0 20px;
  border: 1px solid #000000;
  background: transparent;
  color: #000000;
  outline: none;
} 

 .form2 { 
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* espaço entre os campos */
  align-items: center;  /* aqui é o segredo do alinhamento */
 }

.form select {
  border-radius: 5px;
  flex: 1;
  font-family: var(--Font-primary);
  width: 350px;
  min-width: 350px;
  max-width: 350px;
  height: 30px;
  border-radius: 6px;
  font-size: 13px;
  padding: 0 8px;
  margin-top: -1px;
  border: 1px solid #000000;
  background: transparent;
  color: #000000;
  outline: none;
}

.form label,
.form-2colunas label,
.form2 label {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  font-size: 19px;
  pointer-events: none;
  transition: 0.3s;
  left: 20px;
}

.uppercase {
  text-transform: uppercase;
}

input:focus, textarea:focus {
  border: 2px solid #ce0303;
}

input:focus~label,
/* input:valid~label, */
textarea:focus~label {
/* textarea:valid~label { */
  top: 0;
  left: 25px;
  font-size: 12px;
  padding: 0 2px;
  background: #cacaca;
}

input:not([value=""]) ~ label,
textarea:not([value=""]) ~ label {
    top: 0;
    left: 25px;
    font-size: 12px;
    padding: 0 2px;
    background: #cacaca;
}
 

fieldset{
  max-width: 100px;
  border-radius: 10px;
  border-color: #000000;
  margin: 0 auto;
}
legend{
  margin-left: 10px;
  padding: 3px;
}
textarea{
  font-family:"Abel",sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;                  /* Faz os inputs ocuparem toda a largura */
  padding: 5px 50px; 
  margin: 5px 10px;
  font-size: 17px;               /* Espaçamento interno nos campos */
  border: 1px solid #000000;      /* Cor de borda */
  border-radius: 8px;  
  flex: 1;      
  max-width: 100%;        /* Bordas arredondadas */
}

input[type=date]{
  width: 170px;
  height: 30px;
  font-size: 17px;
}



input::placeholder{
  font: bold;
  text-align: center;
}

label {
  font-family: "Abel", sans-serif;
  font-size: 20px;
  margin: 0 auto;
  text-align: center;
  width: 100px;
}


button {
  font-family: "Abel", sans-serif;
  font-size: 20px;
  background-color: #9e0505;
  width: 25%;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;  
  margin: 0 auto;
  transition: 5%;
}

  button.Close {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 200px;
  margin: 0 auto;
}


.BTNs{
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin: 10px;
}

.Enviar:hover,
.Limpar:hover,
.Pesquisar:hover{
  background-color: #5f0101;
}

.Files {
  height: 200px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, .2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 5px;
  margin: 0 auto;
  background-color: rgba(0, 110, 255, 0.041);
}

.Corpo {
  flex: 1;
  width: 100%;
  border: 2px dashed rgb(225, 65, 65);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.Corpo svg {
  height: 100px;
}

.Corpo p {
  text-align: center;
  color: black;
}

.arquivo {
  background-color: rgba(0, 110, 255, 0.075);
  width: 100%;
  height: 40px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  border: none;
}

.arquivo svg {
  height: 35px;
  fill: rgb(225, 65, 65);
  background-color: rgba(70, 66, 66, 0.103);
  border-radius: 50%;
  padding: 2px;
  cursor: pointer;
  box-shadow: 0 2px 30px rgba(0, 0, 0, 0.205);
}

.arquivo p {
  flex: 1;
  text-align: center;
}

#file {
  display: none;
}

input#nmFuncionario, #descFuncao,#vlrCusto,#vlrBeneficio{
  width: 179px;
}

input.form-control.input {
    width: 500px;
    overflow-x: auto;
}

.flatpickr-calendar {
  z-index: 1000; /* Maior que o z-index do modal Bootstrap (1050) */
}

