*{
  font-family: "Abel", sans-serif;
}

body{
  background: radial-gradient(circle, rgba(64,64,64,1) 42%, rgb(145, 14, 14) 100%);
  width: 100%;
  height: 100vh;
}

#login{
  display: flex;
  justify-content: center;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: rgb(255, 255, 255);
  margin: 0 auto;
  margin-top: 40px;
}

#Registrar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 650px;
}

.Empresas{
  display: flex;
  justify-content: center;
  align-items:center ;
  padding: 0 20px;
  gap: 20px;
}

.logotipo{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  gap: 20px;
}

.logotipo img{
  max-width: 100px;
  height: auto;
  display: flex;
  justify-content: center;
  object-fit: contain;
}

.minilogos{
  display: flex;
  align-items: center;
}

.minilogos img{
  max-width: 25px;
  gap: 20px;
  height: auto;
  display: flex;
  justify-content: flex-start;
  object-fit: contain;
  align-items: center;
}

/* Container principal */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  height: 700px;
  transform: translate(-50%, -50%);
  background: rgba(58, 51, 51, 0.987);
  box-sizing: border-box;
  
  border-radius: 10px;
  box-shadow: 0 0 60px rgb(255, 0, 0);
}



/* Estilo dos campos padrões */
.login-box .user-box {
  position: relative;
}

.user-box{
  width: 100%;
  max-width: 300px;
  position: relative;
  margin-bottom: 20px;
}
.user-box-select{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  position: relative;
}

.user-box input {
  width: 100%;
  max-width: 700px;
  padding: 10px 0px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  margin-bottom: 0;
}

 .user-box select{
  width: 100%;
  max-width: 500px;
  padding: 10px 0px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  margin-bottom: 0;
   appearance: none;           /* Padrão moderno */
  -webkit-appearance: none;   /* Safari/Chrome */
  -moz-appearance: none;  
}
option{
  background-color: #000000;
}

/* personalizacao do olhinho da senha */
.camposenha {
  position: relative;
  display: flex;
  align-items: center;
}

.camposenha input {
  width: 100%;
  padding-right: 35px;
}

.toggle-senha {
  position: absolute;
  right: 10px;
  cursor: pointer;
  color: #666;
}

/* pesquisa de usuario */
.input-wrapper {
  position: relative;
}

.input-wrapper input {
  width: 100%;
  padding-right: 30px;
}

.input-wrapper label {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  color: #aaa;
  pointer-events: none;
  transition: 0.2s ease;
}

.input-wrapper input:focus + label,
.input-wrapper input:not(:placeholder-shown) + label {
  top: -10px;
  font-size: 0.8em;
  color: #333;
}

.input-wrapper i {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Lista de sugestões */
.autocomplete-list {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 150px;
  background: white;
  border: 1px solid #fb1313;
  border-top: none;
  list-style: none;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  z-index: 10;
}

.autocomplete-list li {
  padding: 10px;
  cursor: pointer;
}

.autocomplete-list li:hover {
  background: #f8dfdf;
}

.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

/* Botões */
.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 10px;
  letter-spacing: 4px;
  cursor: pointer;
}

.login-box a {
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
}

.login-box a:hover {
  background: #f40303;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #f40303,
              0 0 25px #f40303,
              0 0 50px #f40303,
              0 0 100px #f40303;
  transform: rotateY(15deg);
}

.login-box a span {
  position: absolute;
  display: block;
  bottom: 2px;
  width: 100%;
  height: 2px;
}

.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #f44);
  animation: btn-anim1 2s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

/* Nome e Sobrenome lado a lado */
.user-box.dupla {
  display: flex;
  gap: 20px;
}

.user-box.dupla.select{
  margin: 0px;
}


.user-box.dupla .user-box2  {
  flex: 1;
  position: relative;
}

.user-box.dupla .user-box2 input {
  max-width: 200px;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
  margin-bottom: 0;
}

.user-box.dupla .user-box2 label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.user-box.dupla .user-box2 input:focus ~ label,
.user-box.dupla .user-box2 input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

.user-boxSelect label{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.user-boxSelect select{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 30px;
  border-radius: 10px;
  margin: 0 auto;
  background-color: transparent;
  border-color: #bdb8b8;
  color: #bdb8b8;
  cursor: pointer;
}

.user-boxSelect option{
  color: black;
  border-radius: 10px;
}


.form-3colunas {
  max-width: 300px;
  display: flex;
  gap: 20px;
}

.user-box2 {
  flex: 1;
}

.checkbox-coluna {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.form-checkbox{
  position: relative;
  display: flex;
  justify-content: center;
  margin: 12px;
  gap:5px;
}

.checkbox-wrapper-33 {
  --s-xsmall: 0.625em;
  --s-small: 1.2em;
  --border-width: 3px;
  --c-primary: #0c6400;
  --c-primary-20-percent-opacity: rgba(17, 232, 35, 0.2);
  --c-primary-10-percent-opacity: rgba(42, 232, 17, 0.1);
  --t-base: 0.4s;
  --t-fast: 0.2s;
  --e-in: ease-in;
  --e-out: cubic-bezier(0.11, 0.29, 0.18, 0.98);
}

.checkbox-wrapper-33 .visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.checkbox-wrapper-33 .checkbox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: rgb(255, 255, 255);
}

.checkbox-wrapper-33 .checkbox + .checkbox {
  margin-top: var(--s-small);
}

.checkbox-wrapper-33 .checkbox__symbol {
  display: inline-block;
  display: flex;
  margin-right: calc(var(--s-small) * 0.7);
  border: var(--border-width) solid var(--c-primary);
  position: relative;
  border-radius: 0.1em;
  width: 2em;
  height: 1.5em;
  transition: box-shadow var(--t-base) var(--e-out),
    background-color var(--t-base);
  box-shadow: 0 0 0 0 var(--c-primary-10-percent-opacity);
}

.checkbox-wrapper-33 .checkbox__symbol:after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 0.25em;
  height: 0.25em;
  background-color: var(--c-primary-20-percent-opacity);
  opacity: 0;
  border-radius: 3em;
  transform: scale(1);
  transform-origin: 50% 50%;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox {
  width: 1em;
  height: 1em;
  margin: auto;
  fill: none;
  stroke-width: 3;
  stroke: currentColor;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
  color: var(--c-primary);
  display: inline-block;
}

.checkbox-wrapper-33 .checkbox .icon-checkbox path {
  transition: stroke-dashoffset var(--t-fast) var(--e-in);
  stroke-dasharray: 30px, 31px;
  stroke-dashoffset: 31px;
}

.checkbox-wrapper-33 .checkbox__textwrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
}

.checkbox-wrapper-33 .checkbox__trigger:checked + .checkbox__symbol:after {
  -webkit-animation: ripple-33 1.5s var(--e-out);
  animation: ripple-33 1.5s var(--e-out);
}

.checkbox-wrapper-33
  .checkbox__trigger:checked
  + .checkbox__symbol
  .icon-checkbox
  path {
  transition: stroke-dashoffset var(--t-base) var(--e-out);
  stroke-dashoffset: 0px;
}

.checkbox-wrapper-33 .checkbox__trigger:focus + .checkbox__symbol {
  box-shadow: 0 0 0 0.25em var(--c-primary-20-percent-opacity);
}

@-webkit-keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}

@keyframes ripple-33 {
  from {
    transform: scale(0);
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: scale(20);
  }
}

#formPermissao{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  flex-direction: column;
}

.Permissions {
  --_clr-primary: #666;
  --_clr-hover: #f33131;
  --_clr-checked: #ffffff;
}
.Permissions > div {
  --_clr-current: var(--_clr-primary);

  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.Permissions > div + div {
  margin-block-start: 0.5rem;
}
.Permissions label {
  cursor: pointer;
  color: var(--_clr-current);
  transition: color 150ms ease-in-out;
}

/* styled checkbox */
.Permissions input[type="checkbox"] {
  appearance: none;
  outline: none;
  width: 1.5rem;
  height: 1.5rem;
  aspect-ratio: 1;
  padding: 0.25rem;
  background: transparent;
  border: 1px solid var(--_clr-current);
  border-radius: 2px;
  display: grid;
  place-content: center;
  cursor: pointer;
}
.Permissions input[type="checkbox"]::after {
  content: "\2714";
  opacity: 0;
  transition: opacity 150ms ease-in-out;
  color: var(--_clr-checked);
  font-size: inherit;
  font-family: inherit;
}

.Permissions label:hover,
.Permissions input[type="checkbox"]:focus-visible,
.Permissions input[type="checkbox"]:focus-visible + label,
.Permissions input[type="checkbox"]:hover,
.Permissions input[type="checkbox"]:hover + label {
  --_clr-current: var(--_clr-hover);
}
.Permissions input[type="checkbox"]:focus-visible::after,
.Permissions input[type="checkbox"]:hover::after {
  opacity: 0.5;
  color: var(--_clr-hover);
}

.Permissions input[type="checkbox"]:checked + label:not(:hover),
.Permissions input[type="checkbox"]:checked:not(:hover) {
  --_clr-current: var(--_clr-checked);
}
.Permissions input[type="checkbox"]:checked::after {
  opacity: 1;
}


.bts{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin: 0 auto;
}

.flip-container {
  perspective: 1000px;
}

.flipper {
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-container.flipped .flipper {
  transform: rotateY(180deg);
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
}

.back {
  transform: rotateY(180deg);
}



/* Ajuste nos botões de rotação */
#btnFechar, #btnCancelar {
  cursor: pointer;
}

#formPermissao button {
  cursor: pointer;
}



input:-webkit-autofill {
  background-color: transparent !important;
}

/* === Estilos personalizados para SweetAlert2 === */
.swal2-container {
  z-index: 100000 !important;
}

.swal2-popup .swal2-styled {
  all: initial;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.625em 1.5em;
  border: none;
  border-radius: 0.25em;
  background: #d63030;
  color: #fff;
  cursor: pointer;
  margin: 0 0.25em;
}

.swal2-confirm,
.swal2-cancel {
  font-family: "Abel", sans-serif;
  font-size: 16px;
  padding: 10px 24px !important;
  border-radius: 12px !important;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.swal2-confirm {
  /* background-color: #28a745 !important;  Verde para confirmar */
  background-color: #ce0303 !important;
  /* Vermelho para confirmar */
  color: #ffffff !important;
}

.swal2-confirm:hover {
  /* background-color: #218838 !important; */
  background-color: #ce0303 !important;
  /* Vermelho para confirmar */
}

.swal2-cancel {
  background-color: #6c757d !important;
  /* Cinza para cancelar */
  color: #ffffff !important;
}

.swal2-cancel:hover {
  background-color: #5a6268 !important;
}

/* Estilos para o container de empresas */
#empresas label{
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; 
  gap: 20px;
  /* margin-top: 20px; */
  padding: 5px;
  color:white;
}
.checkbox-group {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px 0; 
}

.checkbox-group label {
  display: flex;
  align-items: center;
  gap: 5px;
  /* background-color: #1f1f1f; */
  padding: 5px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  color: white;
}

.checkbox-group input[type="checkbox"] {
  accent-color: #e63946;
}

